*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    
    color: white;
    background-color: rgba(6, 13, 13, 1);
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    padding: 0 5%;
    
}

.logoImg{
    height: 60px;
    
    
}

.menu{
    
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
    
}

.menu::before{
    content: " ";
    height: 3px;
    width: 0;
    background-color: white;
    bottom: -10px;
    left: 0;
    position: absolute;
    transition: 0.5s;   
}

.menu:hover::before{
    width: 100%;
}

/* Main Content */
main{
    padding: 0 5%;
    background: rgb(179, 179, 179);

    
}
.heading{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    background-attachment: fixed;;
    height: 100vh;
    position: relative;
    margin: 0 -5.5555%;
}
.headingContent{
    color: white;
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    text-align: center; 
}

.heading h1{
    font-size: 6em;
    text-transform: uppercase;
    line-height: 1.25;
    margin: 0 auto 0;
}
.heading p{
    font-size: 2em;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 0;
}

.category{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.category:last-of-type{
    padding-bottom: 2%;
}

.techItem{
    width: 23.5%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 2%;
    background-color: rgb(200, 200, 200);
}

.techItem img{
    width: 90%;
    height:auto;
    display: block;
    margin: 5% auto;
    border-radius: 10px;
    border: 1px solid black;
}



.techItem p{
    margin: 5%;
}

.techItem img:hover{
opacity: 0.5;
}

@media (max-width: 1024px){
    .techItem{
        width: 49%;
        margin-top: 2%;
    }
    .heading h1{
        font-size: 4em;
    }
    .heading p{
        font-size: 1.33em;
    }
}