*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/*  ------------
    Main Content
    ------------ */

main{
    padding: 0 5%;
    margin: 0 auto;
    background: rgb(202,202,202)

   
}
.heading{
    background-image: url(images/bg_white.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    margin: 0 -5.5555%;
}
.headingContent{
    color: black;
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    text-align: center; 
}

.heading h1{
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1.25;
}
.heading p{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 0;
}

.category h2{
    margin: 0 0 2% 1%;
    padding-left: 1%;
    font-size: 3rem;
    background: linear-gradient(90deg, rgba(202,202,202,1) 2%, rgba(116,116,116,1) 10%, rgba(202,202,202,1) 50%);
    border-radius: 10px;
}
.category1 h2{
    
    margin-top: 2%;
}


.category div{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}



.techItem{
    width: 23.5%;
    font-size: 1.33rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 2%;
    background-color: rgb(195, 195, 195);
}

.techItem img{
    width: 90%;
    height:auto;
    display: block;
    margin: 5% auto;
    border-radius: 10px;
}
.techItem img:hover{
    /* opacity: 0.5; */
    transform: perspective(1500px) rotateX(-15deg) rotateY(10deg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 0.5s ease 0s;
    }
.techItem p{
    margin: 5%;
    text-align: justify;
    text-indent: 10%;
}


@media (max-width: 1024px){
    .techItem{
        width: 49%;
        margin-bottom: 2%;
    }
    .heading h1{
        font-size: 4rem;
    }
    .heading p{
        font-size: 1.33rem;
    }
}
