
.hero {
    background-image: url(https://media.bizj.us/view/img/12522555/gettyimages-1396215654*1200xx2176-1224-136-0.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 720px;
    overflow: hidden;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
    height: 88vh;
}

.hero-title h1 {
    max-width: 850px;
    color: white;
    font-size: 90px;
    margin-inline: 150px;
    text-shadow: 2px 2px 15px black;

    animation: slideIn 0.8s ease;
}

.hero-title h3 {
    color: white;
    width: 68%;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 150px;
    text-shadow: 2px 2px 15px black;
    line-height: 1.3;

    animation: slideIn 1.3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

/* =================================
            SCROLL BAR
   =================================
*/

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 13px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 120, 120); 
}

/* =================================
            NAV SECTION
   =================================
*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 100px;
    margin-left: 20px;
    margin-top: 7px;
}

nav img:hover {
    transform: rotateY(360deg);
    transition: 1s ease;
    background-color: dodgerblue;
    border-radius: 50%;
}

nav #hamburger {
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-weight: 600;
    margin-right: 30px;
    font-size: 40px;
    padding: 8px 15px;
}

nav #hamburger:hover {
    background-color: rgba(86, 86, 86, 0.4);
    transition: 0.2s ease;
}
.dropdown {
    position: relative;
    color: aqua;
}

.dropdown-content {
    display: none;
    border-radius: 5px;
    width: 180px;
    text-align: left;
}

.dropdown-content a {
    display: block;
    font-size: 20px;
    padding-inline:15px;
    text-decoration: none;
    padding-block: 15px;
    color: white;
}

.dropdown-content a:hover {
    background-color: rgba(86, 86, 86, 0.679);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    backdrop-filter: blur(8px);
    background-color: rgba(86, 86, 86, 0.4);
    border-radius: 5px;
    right: 30px;
    top:55px;
}
main {
    display: flex;
    background-color: #f6f6f6;
}

article {
    max-width: 70%;
    padding: 50px;
    margin-left: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.322);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.322);
}

article h2 {
    display: inline-block;
    color: rgba(0, 0, 0, 0.800);
    font-size: 35px;
    border-bottom: 3px solid #aeaeaeaf;
    margin-block: 40px;
    margin-inline: 70px;
}

article p {
    font-size: 20px;
    text-indent: 40px;
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

main img {
    display: flex;
    max-width: 90%;
    margin-inline: auto;
    width: 70%;
    margin-block: 30px;
}


.generalC {
    color: black;
    padding: 20px;
    border-radius: 10px;
}


.generalC img {
    float: right;
    width: 300px;
    margin: 0 0 10px 10px;  
}

#timeline-show {
    width: 100%;
    height: 340px;
    background: linear-gradient(
        45deg,
        #999 5%,
        #fff 10%,
        #ccc 30%,
        #ddd 50%,
        #ccc 70%,
        #fff 80%,
        #999 95%
      );
    display: flex;
    flex-direction: row;
    overflow: auto;
    position: relative;
}

.timeline-item  {
    text-align: center;
    width: 200px;
    margin-inline: 10px;
}

.timeline-item img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    image-orientation: flip;
}

.timeline-item h3 {
    width: 200px;
    font-size: 18px;
}


.content h3 {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 40px;
    color:#4d4d4deb;
}


.column-2 {
    display: flex;
    justify-content: space-around;
    text-align: left;
    word-break: normal;
}

.column-2 div {
    width: 45%;
}

#imgLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgLeft img {
    width: 100%;
}

/* =================================
            ASIDE - SECTION
   =================================
*/

aside {
    min-width: 250px;
    width: 25%;
    margin: 90px 0;
    padding: 20px;
    margin-inline: auto;
}

.aside-area {
    top: 90px;
    position: sticky;
    top:30px;
}

.tableOfContents {
    padding: 70px;
    margin-inline: auto;
    max-width: 280px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 2px solid #6b6b6b86;
   
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.178);
}

.tableOfContents h2 {
   
    text-align: center;
    font-size: 20px;
    color: #3F72AF;
}

.tableOfContents ol{
    margin-block: 30px;
    margin-inline: 15%;
    list-style: upper-roman;
}



.tableOfContents ol li {
    margin-block: 10px;
}

.tableOfContents ol li a {
    text-decoration: none;
    color: black;
}

.tableOfContents ol li a:hover {
    font-weight: 500;
    border-bottom: 2px solid black;
}


.otherArticles {

      border: 2px solid #6b6b6b86;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.178);
      border-radius: 10%;
    width: 100%;
    height: 400px;
    margin: 20px 50px 0 0;
    padding: 20px;
    position: sticky;
}
.otherArticles h2{
    margin-left: 30px;
}

.article {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items:center;
}

.article img {
    width: 130px;
    min-width: 130px;
    border-radius: 5px;
}

.article h3 a {
    
    color: black;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    margin-top:30px;
    position: relative;
    top: -15px;
}



#back{
    background-color: rgb(64, 132, 210);
    background:radial-gradient(
        rgb(161, 200, 235) 15%,
        rgb(178, 211, 243) 30%,
        rgb(161, 200, 235) 45%,
        rgb(118, 153, 187) 65%,
        rgb(91, 121, 192) 80%,
        rgb(44, 116, 193) 95%
    );

}
#aero{
    color: #b3134deb;
    font-size: large;
    font-style: oblique;
    position: relative;
    display: block;
    height: 30px;
    width: 400px;
}
.pic{
    opacity: 0.6;
}
.menubutton{
    display: block;
}

.chrome{
   color: darkblue;
    }
.baloon{
   opacity: 0.3;
   width: 200px;
   height: 80px;

    }
 .baloon:hover{
        opacity: 1;
        width: 800px;
        height:700px;
    }
    
  
   
